
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

#debug {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  position: fixed;
  padding: 10px;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  max-height: 30%;
  overflow: auto;
}
#debug > div {
  padding: 5px 0;
}

#content {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#signal {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  background: green;
  border-radius: 22px;
  border: 4px solid #ccc;
}
#signal.alert {
  background: red;
}

#map {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.menu {
  position: absolute;
  right: 10px;
  top: 60px;
  z-index: 1;
  width: 60px;
}

.menu button {
  background: #66f;
  color: #fff;
  font-size: 14px;
  border: 0;
  border-radius: 3px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: 0 0 10px;
  text-align: center;
  line-height: 36px;
  outline: none;
}

.logo {
  position: fixed;
  z-index: 2;
  bottom: 40px;
  background: url(../images/logo.png) 50% 50% no-repeat;
  width: 60px;
  height: 60px;
  background-size: contain;
}

#positions {
  position: fixed;
  z-index: 2;
  right: 10px;
  bottom: 0px;
  left: 50%;
  width: 100px;
  text-align: center;
  padding: 5px;
  margin-left: -55px;
}

#splash {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/splash.png) 50% 50% no-repeat;
  background-size: cover;
  z-index: 10;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  text-align: center;
  width: 100px;
  margin-left: -50px;
  margin-top: -10px;
  height: 20px;
  line-height: 20px;
}

.menu .pits {
  background: #eee;
  border: 5px solid #999;
  color: #090;
  border-radius: 9px;
}

.menu .pits.checked:before {
  content: '✓';
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 56px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 40px;
  font-weight: bold;
}
