<?xml version='1.0' encoding='utf-8'?>
<widget id="it.datsko.pits" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pits</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <splash src="www/images/splash.png" />
    <icon src="www/images/logo.png" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="KeepRunning" value="true" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="~4.3.1" />
    <engine name="android" spec="~6.1.2" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />
    <plugin name="cordova-plugin-browsersync" spec="~0.1.1" />
    <plugin name="cordova-plugin-device-motion" spec="~1.2.4" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.2">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-file" spec="~4.3.2" />
</widget>
